﻿<!DOCTYPE html>
<html>
<head>
    <title>Graph</title>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/sigma/build/sigma.min.js"></script>
    <script type="text/javascript" src="Scripts/graph.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }

        #container {
            position:absolute;
            width: 100%;
            height: 100%;
        }

        #menu {
            position: absolute;
            right:0px;
            bottom: 0px;
            width: 100px;
            height: 20px;
            z-index: 99;
        }
    </style>
</head>
<body>
    <div id="baseUrl" data-content="@ViewBag.BaseUrl"></div>
    <div id="menu">
        <input type="button" id="calculate" value="Calculate shortest path" />
    </div>
    <div id="container">
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
